Repository CigaretteAfterCoding/Amadda, pull requests merged in 2021-09, with the labels that each got.

#60 다이어리 모달 사이즈 변경
  client/package.json
  client/src/components/DiaryCard/DiaryCard.tsx
  client/src/components/DiaryModal/DiaryModal.tsx
  client/src/components/Search/Search.tsx
  client/src/elements/Select/Select.tsx
  client/src/images/test2.jpg
  client/src/images/test3.jpg
  client/src/images/test4.png
  client/src/layouts/Header/Header.tsx
  client/src/pages/MainPage/MainPage.tsx
Labels: client

#59 회원가입 draft 구현
  client/src/apis/userAPI.ts
  client/src/components/SignUpForm/SignUpForm.tsx
Labels: client, feature

#63 user api에 profile_image 추가
  server/src/model/user-model.ts
  server/src/service/diary-service.ts
  server/src/service/user-service.ts
  server/src/types/repository-param.ts
Labels: server, feature

#64 Release 0.0.3
  .vscode/extensions.json
  client/.eslintrc.js
  client/package-lock.json
  client/package.json
  client/src/apis/baseAPI.ts
  client/src/apis/userAPI.ts
  client/src/components/DiaryCard/DiaryCard.tsx
  client/src/components/DiaryModal/DiaryModal.tsx
  client/src/components/Search/Search.tsx
  client/src/components/SignUpForm/SignUpForm.tsx
  client/src/elements/Button/Button.tsx
  client/src/elements/Input/Input.tsx
  client/src/elements/Select/Select.tsx
  client/src/images/test2.jpg
  client/src/images/test3.jpg
  client/src/images/test4.png
  client/src/layouts/Header/Header.tsx
  client/src/pages/MainPage/MainPage.tsx
  package-lock.json
  server/src/app.ts
  server/src/constants/index.ts
  server/src/model/user-model.ts
  server/src/service/diary-service.ts
  server/src/service/user-service.ts
  server/src/types/repository-param.ts
Labels: release

#65 fix: 인풋에 포커스 추가
  client/src/components/SignInForm/SignInForm.tsx
  client/src/components/SignUpForm/SignUpForm.tsx
  client/src/elements/Input/Input.tsx
Labels: client, feature

#68 로그인&회원가입 인풋에 유효성검사 적용
  client/src/components/SignInForm/SignInForm.tsx
  client/src/components/SignUpForm/SignUpForm.tsx
  client/src/elements/Input/Input.tsx
  client/src/styles/color-variables.ts
Labels: client, feature

#66 Diary API 추가
  server/package-lock.json
  server/package.json
  server/src/model/diary-model.ts
  server/src/model/user-model.ts
  server/src/routes/diary-routes.ts
  server/src/routes/index.ts
  server/src/service/diary-service.ts
  server/src/types/diary.ts
  server/src/types/repository-param.ts
  server/src/types/validate-body.ts
Labels: server, feature

#69 Release 0.0.4
  client/src/components/SignInForm/SignInForm.tsx
  client/src/components/SignUpForm/SignUpForm.tsx
  client/src/elements/Input/Input.tsx
  client/src/styles/color-variables.ts
  server/package-lock.json
  server/package.json
  server/src/model/diary-model.ts
  server/src/model/user-model.ts
  server/src/routes/diary-routes.ts
  server/src/routes/index.ts
  server/src/service/diary-service.ts
  server/src/types/diary.ts
  server/src/types/repository-param.ts
  server/src/types/validate-body.ts
Labels: release

#70 Release 0.0.5
  .gitignore
  client/.gitignore
  client/package-lock.json
  client/package.json
  client/webpack.dev.js
  server/package.json
  server/src/app.ts
Labels: release

#71 로그인/회원가입 css & 유효성 변경
  client/src/components/SignInForm/SignInForm.tsx
  client/src/components/SignUpForm/SignUpForm.tsx
  client/src/layouts/Header/Logo.tsx
  client/src/pages/SignInPage/SignInPage.tsx
Labels: client, feature

#72 프로필 메뉴 수정
  client/src/elements/Select/Select.tsx
  client/src/layouts/Header/Header.tsx
Labels: client, feature

#73 diary API 추가 및 cors 설정 변경
  client/src/App.tsx
  client/src/apis/baseAPI.ts
  client/src/apis/diaryAPI.ts
  server/src/app.ts
Labels: feature

#74 Release 0.0.6
  client/src/App.tsx
  client/src/apis/baseAPI.ts
  client/src/apis/diaryAPI.ts
  client/src/components/SignInForm/SignInForm.tsx
  client/src/components/SignUpForm/SignUpForm.tsx
  client/src/elements/Select/Select.tsx
  client/src/layouts/Header/Header.tsx
  client/src/layouts/Header/Logo.tsx
  client/src/pages/SignInPage/SignInPage.tsx
  server/src/app.ts
Labels: release

#75 Release 0.0.7
  server/src/app.ts
Labels: release

#76 Diary api 호출 함수 추가
  client/src/apis/baseAPI.ts
  client/src/apis/diaryAPI.ts
  client/src/apis/userAPI.ts
  client/src/pages/MainPage/MainPage.tsx
  server/package.json
  server/src/service/diary-service.ts
  server/src/service/user-service.ts
Labels: server, client, feature

#79 recoil & react-query 셋업
  client/.eslintrc.js
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/components/SignInForm/SignInForm.tsx
  client/src/components/SignUpForm/SignUpForm.tsx
  client/src/pages/MainPage/MainPage.tsx
  client/src/pages/SignInPage/SignInPage.tsx
  client/src/recoil/userState.ts
  client/tsconfig.json
  client/webpack.common.js
  client/webpack.dev.js
Labels: client, env

#81 feat: process 설치 및 환경변수 설정
  client/.gitignore
  client/package-lock.json
  client/package.json
  client/src/apis/weatherAPI.ts
  client/webpack.common.js
Labels: client, env

#82 API 업그레이드
  API_Specifications.md
  server/.eslintrc.js
  server/package-lock.json
  server/package.json
  server/src/constants/index.ts
  server/src/errors/Insufficient-body.ts
  server/src/errors/authenticate-error.ts
  server/src/errors/custom-error.ts
  server/src/errors/database-error.ts
  server/src/middlewares/auth.ts
  server/src/middlewares/decode-jwt.ts
  server/src/middlewares/error-handler.ts
  server/src/model/diary-model.ts
  server/src/routes/diary-routes.ts
  server/src/service/diary-service.ts
  server/src/service/user-service.ts
  server/src/types/validate-body.ts
  server/src/utils/jwt.ts
  server/src/utils/promise-handler.ts
  server/src/utils/query-executor.ts
Labels: server, refactor, feature

#84 Release 0.0.9
  server/src/middlewares/auth.ts
  server/src/middlewares/decode-jwt.ts
  server/src/service/diary-service.ts
Labels: release

#85 클라이언트 API 호출 함수 타입 재정의
  client/src/apis/diaryAPI.ts
  client/src/apis/userAPI.ts
  client/src/types/diary.ts
  client/src/types/errors.ts
  client/src/types/user.ts
Labels: client, refactor

#86 is_private 속성 타입 수정
  server/src/model/diary-model.ts
  server/src/service/diary-service.ts
  server/src/types/diary.ts
Labels: server, bugfix

#87 feat:글쓰기 모달에 날씨 모달 추가. 변경 가능
  client/package-lock.json
  client/package.json
  client/src/components/DiaryModal/DiaryModal.tsx
  client/src/elements/Select/WeatherSelect.tsx
  client/src/pages/MainPage/MainPage.tsx
  client/src/styles/color-variables.ts
Labels: client, feature

#88 webpack dotenv 플러그인 추가
  client/package-lock.json
  client/package.json
  client/webpack.common.js
Labels: client, env

#102 회원가입&로그인 페이지에서 로고 클릭시 메인 이동
  client/package-lock.json
  client/package.json
  client/src/components/DiaryModal/DiaryModal.tsx
  client/src/elements/Alert/Alert.tsx
  client/src/pages/MainPage/MainPage.tsx
  client/src/pages/SignInPage/SignInPage.tsx
  client/src/pages/SignUpPage/SignUpPage.tsx
Labels: client, feature

#103 Release 0.0.10
  client/package-lock.json
  client/package.json
  client/src/apis/diaryAPI.ts
  client/src/apis/userAPI.ts
  client/src/components/DiaryModal/DiaryModal.tsx
  client/src/elements/Alert/Alert.tsx
  client/src/elements/Select/WeatherSelect.tsx
  client/src/pages/MainPage/MainPage.tsx
  client/src/pages/SignInPage/SignInPage.tsx
  client/src/pages/SignUpPage/SignUpPage.tsx
  client/src/styles/color-variables.ts
  client/src/types/diary.ts
  client/src/types/errors.ts
  client/src/types/user.ts
  client/webpack.common.js
  server/src/model/diary-model.ts
  server/src/service/diary-service.ts
  server/src/types/diary.ts
Labels: release

#105 Diary Image DB column 추가 및 API에 반영
  server/src/model/diary-model.ts
  server/src/routes/diary-routes.ts
  server/src/service/diary-service.ts
  server/src/types/diary.ts
  server/src/types/validate-body.ts
Labels: server, feature

#107 getAllDiaries를 getAllMyDiaries/getAllPublicDiaries로 쪼개보자
  server/src/model/diary-model.ts
  server/src/routes/diary-routes.ts
  server/src/service/diary-service.ts
Labels: server, feature

#108 권한 체크 로직 추가
  server/src/constants/index.ts
  server/src/middlewares/auth.ts
  server/src/middlewares/check-permission.ts
  server/src/middlewares/decode-jwt.ts
  server/src/model/diary-model.ts
  server/src/routes/diary-routes.ts
Labels: server, feature

#110 인증정보 localStorage에 저장하도록 수정
  client/src/App.tsx
  client/src/apis/baseAPI.ts
  client/src/apis/userAPI.ts
  client/src/components/DiaryModal/DiaryModal.tsx
  client/src/elements/Alert/Alert.tsx
  client/src/layouts/Header/Header.tsx
  client/src/pages/MainPage/MainPage.tsx
  client/src/recoil/userState.ts
  client/src/types/user.ts
Labels: client, feature

#111 로그아웃시 빈 페이지 렌더되는 버그
  client/babel.config.js
  client/src/App.tsx
  client/src/recoil/InitializeRecoilState.tsx
Labels: bugfix

#113 Release 0.0.12
  server/src/app.ts
Labels: release

#116 로그인/회원가입 키보드 제어기능 추가
  client/src/components/SignInForm/SignInForm.tsx
  client/src/components/SignUpForm/SignUpForm.tsx
  client/src/layouts/Header/Header.tsx
Labels: client, chore, feature

#118 모달 onClose keyboard handler 추가
  client/src/components/DiaryModal/DiaryModal.tsx
  client/src/pages/MainPage/MainPage.tsx
Labels: feature
