Repository CigaretteAfterCoding/Amadda, pull requests merged in 2021-08, with the labels that each got.

#13 env: 클라이언트 환경설정
  client01/package-lock.json
  client01/package.json
  client01/src/App.tsx
  client01/webpack.common.js
Labels: client, env

#15 prettier, eslint 관련 패키지 설치 및 설정 추가
  client/.eslintrc.js
  client/.prettierrc
  client/package-lock.json
  client/package.json
Labels: client, env

#16 env: vscode 설정 파일 추가
  .vscode/settings.json
  server/.prettierrc
Labels: env

#21 PR 템플릿 추가
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: docs

#23 절대 경로 설정 추가(tsconfig, webpack)
  client/tsconfig.json
  client/webpack.common.js
Labels: client, env

#20 client user api 셋업
  client/src/apis/baseAPI.ts
  client/src/apis/userAPI.ts
  client/src/types/user.ts
Labels: client, feature

#26 create_react_component 스크립트 추가
  client/scripts/create_react_component.sh
Labels: client, env

#28 env: prettier 적용
  client/src/App.tsx
  client/src/components/Button/Button.tsx
  client/src/components/Icons/Google.tsx
  client/src/index.tsx
  client/src/styles/GlobalStyle.tsx
Labels: client, env, refactor

#27 api response type 정의
  client/src/apis/userAPI.ts
Labels: client, chore

#29 feat: Button props Type 정의
  client/src/components/Button/Button.tsx
  client/src/react-app-env.d.ts
Labels: client, feature

#32 creat_react_element,page shell script 생성
  client/scripts/create_react_element.sh
  client/scripts/create_react_page.sh
  client/src/App.tsx
  client/src/components/DiaryCard/DiaryCard.tsx
  client/src/pages/MainPage/MainPage.tsx
  client/src/pages/SignInPage/SignInPage.tsx
  client/src/pages/SignUpPage/SignUpPage.tsx
Labels: client, env, feature

#34 feat: DiaryCard 컴포넌트 만들고 메인에 적용
  client/src/App.tsx
  client/src/components/DiaryCard/DiaryCard.tsx
  client/src/images/test.jpg
  client/src/pages/MainPage/MainPage.tsx
  client/src/react-app-env.d.ts
  client/src/styles/GlobalStyle.tsx
  client/src/styles/color-variables.ts
  client/webpack.common.js
Labels: client, feature

#38 feat:글 작성하기 버튼 만들기
  client/src/components/DiaryCard/DiaryCard.tsx
  client/src/components/WriteButton/WriteButton.tsx
  client/src/pages/MainPage/MainPage.tsx
Labels: client, feature

#39 pm2 패키지 설치 및 스크립트 추가
  .gitignore
  server/.gitignore
  server/package-lock.json
  server/package.json
Labels: server, env

#43 feat: 일기 상세보기 모달 만들기
  client/src/components/DiaryModal/DiaryModal.tsx
  client/src/pages/MainPage/MainPage.tsx
Labels: client, feature

#49 feat:좋아요 버튼 애니메이션 추가
  client/src/components/DiaryCard/DiaryCard.tsx
  client/src/pages/MainPage/MainPage.tsx
Labels: client, feature

#50 빌드 스크립트 수정 및 관련 패키지 설치
  server/package-lock.json
  server/package.json
  server/src/app.ts
  server/tsconfig.json
Labels: server, env

#51 Release v0.0.2
  client/src/components/DiaryCard/DiaryCard.tsx
  client/src/pages/MainPage/MainPage.tsx
  server/package-lock.json
  server/package.json
  server/src/app.ts
  server/tsconfig.json
Labels: release

#52 feat: 프로필 셀렉트 메뉴 추가
  client/src/components/Search/Search.tsx
  client/src/elements/Select/Select.tsx
  client/src/layouts/Header/Header.tsx
  client/src/pages/MainPage/MainPage.tsx
Labels: client, feature

#53 feat:다이어리 카드 클릭시 모달 open
  client/src/components/DiaryModal/DiaryModal.tsx
  client/src/pages/MainPage/MainPage.tsx
Labels: client, feature

#54 api url 추가
  client/src/apis/baseAPI.ts
Labels: client, chore

#56 eslint 설정
  .vscode/extensions.json
  client/.eslintrc.js
  client/package-lock.json
  client/package.json
  client/src/components/SignUpForm/SignUpForm.tsx
  package-lock.json
  package.json
  server/src/constants/index.ts
Labels: client, feature

#57 eslint 패키지 설치 위치 변경
  client/package-lock.json
  client/package.json
  package-lock.json
  package.json
Labels: env, chore

#58 cors 옵션 추가 & sign-up validation 추가
  client/src/components/SignUpForm/SignUpForm.tsx
  client/src/elements/Button/Button.tsx
  client/src/elements/Input/Input.tsx
  server/src/app.ts
Labels: server, client, feature
